* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#container {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 0% 1.2%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3.5rem;
}

.logo > img {
  height: 2rem;
}

.navLinks > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 2.5rem;
}

.navLinks > ul > li > a {
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.navLinks > ul > li > .about-btn {
  color: #1a43ef;
}

.contact-btn {
  padding: 1rem 1.5rem;
  background-color: #1a43ef;
  border-radius: 2rem;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}

.contact-btn:hover {
  transform: scale(0.95);
}

.hero {
  border-radius: 3rem;
  border: none;
  background-color: #f4f7ff;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 40% 60%;
  place-items: start;
  grid-template-areas:
    "about detail"
    "aboutImg aboutImg";
}

.about-prt {
  grid-area: about;
}

.detail-prt {
  grid-area: detail;
}

.about-img {
  height: 5rem;
  width: 5rem;
  height: 100%;
  width: 100%;
}

.about-img > img {
  height: 100%;
  width: 100%;
  grid-area: aboutImg;
  object-fit: cover;
  object-position: center;
}
